{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arjun Kumar, Software Engineer </title>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <main>
      <!-- ***************  ABOUT / PROFILE  **************** -->
      <header>
        <div class="content-wrap">
          <h1>Arjun Kumar</h1>
          <h2>Software Engineer</h2>

          <p>As a developer, I specialize in creating modular and scalable full-stack architectures, and <br> AI (artificial intelligence) engineering</p>
        </div>
      </header>

      <!-- ************ PROJECTS / PORTFOLIO  ************** -->

      <!-- ****************  WORK EXPERIENCE  ******************** -->
      <section class="work-experience">
        <div class="content-wrap item-details divider">
          <h2>Work Experience</h2>
          <p>See my complete work history on <a href="https://www.linkedin.com/in/arjunkumarwr/">LinkedIn</a></p>

          <!-- Job 1 -->
          <section class="job-item">
            <div class="job-details">
              <h3>Software Engineer</h3>
              <p>DIYguru E-Mobility Pvt. Ltd.</p>
              <p>New Delhi </p>
              <p>January 2020-February 2023 </p>
            </div>
            <div class="job-summary">
              <ul>
                <li> Worked with web application (WordPress) as an admin and created many webpages, edited content and handled payment gateway</li>
                <li>Assist in creating Python and its related frameworks tutorials and uploading through Content Delivery Network (CDN)</li>
                <li>Worked as an IT admin and handled Google workspace, IT & Support email and other department emails</li>
                <li>Handled CRM of customers for business analysis, business development, and sales & marketing purposes</li>
                <li>Handled social media and done editing of photos and videos and uploading to YouTube and CDN</li>
                <li>Worked with Excel, Word, and PowerPoint of Customer data to discover trends and identify reasons behind customer churn or attrition and provided report</li>
                <li>Worked with in cross-functional team & environment to identify business requirements and implement solutions, and to deliver the development tasks/user stories on time without any delay </li>
                <li>Collaborated within MNCs and MSMEs for Agreement, MOU and maintain services of agreement accordingly</li>
              </ul>
            </div>
          </section>

          <!-- Job 2 -->
          <section class="job-item">
            <div class="job-details">
              <h3>Projects</h3>
              <p></p>
              <p></p>
            </div>
            <div class="job-summary">
              <ul>
                <li>Sentiment Classifier project and more using AI (Supervised Learning, Generative AI, Unsupervised Learning, and Reinforcement Learning)</li>
                <li>Python projects with TensorFlow (Artificial Intelligence, Machine Learning, Deep Learning), and NLP (Natural Language Processing) and with Keras (Neural Network API written in Python)   </li>
                <li>Web Development, Dynamic Database-Driven Web Apps, Microservices, CRM (Customer Relationship Management) projects with Python API Development (Django REST API and FastAPI), Python web framework (Django, Flask), SQL (MySQL, PostgreSQL), NoSQL (MongoDB), and deployment with Linux Container, Docker, Kubernetes, and AWS CDK (Cloud Development Kit), AWS (Amazon Web Services)</li>
                <li>Python Automation Projects with Excel, Text messages, Tables, Path, Selenium, and Xpath</li>
                <li>WhatsApp Automation projects with Python</li>
                <li>Python - Data Analysis Projects: reading data from multiple sources (CSVs, SQL, Excel etc.), processing them using NumPy and Pandas, visualize them using Matplotlib and Seaborn (Python libraries), and clean and process it to create reports</li>
                <li>Python Web Scrapping using Scrapy spider, crawling through websites & scraping data from each page, cleaning data with items & item pipelines, saving data to CSV files, MySQL & PostgreSQL databases</li>
                <li>UPI, user authentication, e-commerce projects with India Stack and ONDC (Open Network for Digital Commerce)</li>
              </ul>
            </div>
          </section>

             <!-- Job 1 -->
          <section class="job-item">
            <div class="job-details">
              <h3>TECHNICAL SKILLS</h3>
              <p></p>
              <p></p>
            </div>
            <div class="job-summary">
              <ul>
                <li>Programming: Python, Java, SQL (MySQL, PostgreSQL), JavaScript, CSS and HTML </li>
                <li>Framework +: Django, Flask, APIs, WordPress, Excel, Word, and PowerPoint</li>
              </ul>
            </div>
          </section>

        </div>
      </section>

      <!-- *************  EDUCATION & CERTIFICATIONS *********** -->
      <section class="education">
        <div class="content-wrap item-details">
          <h2>Education</h2>

<!--          <section>-->
<!--            <h3>Seneca College - Toronto, ON</h3>-->
<!--            <p>Webmaster Content Site Design Certificate, 2006</p>-->
<!--            <p>14 week full-time program covering HTML, CSS, Flash, Photoshop, PHP and JavaScript.</p>-->
<!--          </section>-->

          <section>
            <h3>SRM University - Delhi NCR</h3>
            <p>B.Tech. 2010-2014</p>
            <p>Information Technology</p>
          </section>

<!--          <section>-->
<!--            <h3>San Jose State University - San Jose, CA</h3>-->
<!--            <p>General Studies, 2000</p>-->
<!--          </section>-->
        </div>
      </section>

      <!-- ************  CONTACT INFO / SOCIAL MEDIA  ************ -->
      <footer>
        <div class="content-wrap">
          <h2>Let's Keep in Touch!</h2>

          <!-- Social media and contact links. Add or remove any networks. -->
          <ul class="contact-list">
            <li><a href="mailto:arjun1104@gmail.com">arjun1104@gmail.com</a></li>
            <li><a href="callto:+918881529509" target="_blank">+91 888-152-9509</a></li>
            <li><a href="http://twitter.com/iarjunkumar" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/arjunkumarwr" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
      </footer>
    </main>
  </body>
</html>
